name: FlaskTester Package

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
        - version: "pypy3.10"
        # 2025-03-09 KO on pydantic-core
        # - version: "pypy3.11"
        - version: "3.10"
        - version: "3.11"
        - version: "3.12"
        - version: "3.13"
        # 2025-03-09 KO on pydantic-core
        - version: "3.14"
    # env:
    #   PYTHON_GIL: ${{ matrix.python.gil }}
    steps:
    - name: Checkout Project
      uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python.version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python.version }}
        allow-prereleases: true
        cache: "pip"
    - name: Install Python Dependencies
      run: make venv
    - name: Check with pyright
      run: make check.pyright
    - name: Check with ruff
      run: make check.ruff
    - name: Check with pytest
      run: make check.pytest
    - name: Check with coverage
      run: make check.coverage
    - name: Check with pymarkdown
      run: make check.docs
